# Ignore virtual environment, folders and files
chatgptreact/
node_modules/
app/uploads/*
build/
/backend/app/db/files.db

# Ignore Python bytecode files
*.pyc
*.egg-info/

# Ignore IDE config
.vscode/
.idea/

# Ignore log files
*.log

# Ignore dvc and env files
*.dvc
*.env
